.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note
{
    font-size: 15px;
    color: red;
}
.copy_right_footer
{
    bottom: 0;
    position: fixed;
    font-size: 20px;
    background-color: purple;
    color: white;
    padding: 5px;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(108, 108, 108);
}